body {
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-style: oblique;



}


@media all and (max-width: 260px) {
    .container {
        flex-direction: column;
    }

    .item {
        min-width: 100px;
    }
}