<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Layout con Grid</title>
</head>

<body>
    <section class="container">
        <header class="header">
            <h1>Layout con Grid</h1>
        </header>
        <main class="main"> Content </main>
        <aside class="aside aside1"> Aside 1 </aside>
        <aside class="aside aside2"> Aside 2 </aside>
        <footer class="footer"> Footer </footer>
    </section>
</body>

</html>