<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout con Flexbox</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="title">Layout con Flexbox</h1>
        </header>
        <main class="main">Main Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, doloribus. At esse
            minima eum nostrum repudiandae mollitia earum quidem ad iste magnam. Labore impedit tenetur perspiciatis
            perferendis quia maxime aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ratione aut
            neque laudantium?</main>
        <aside class="aside aside1">Aside1</aside>
        <aside class="aside aside2">Aside2</aside>
        <footer class="footer">Footer</footer>
    </div>
</body>

</html>